@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  overflow-x: hidden;
}

/* nav */
#topnav {
  color: #FFFFFF;
  display: flex;
  padding: 20px;
}

#topnav #logo {
  width: 50%;
  font-weight: 600;
  font-size: 28px;
  margin-right: 30px;
  text-align: left;
}
#topnav #logo img {
  width: 30px;
  position: relative;
  top: 1px;
}

#menu {
  width: 75%;
  padding-right: 0px;
}

#topnav {
  text-align: right;
}
#topnav #menu li {
  position: relative;
  top: 6px;
}

#topnav a,
#topnav li {
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
  display: inline-block;
}

#button-container {
  width: 50%;
}

#menu-button,
#close-nav-menu {
  background: none;
  border: none;
}

#hamburger-icon,
#close-nav-menu {
  font-size: 33px;
  position: relative;
  top: 2px;
  right: 2px;
  border: none;
  color: #FFFFFF;
}

#mobile-menu {
  width: 100%;
  background-color: #1a1a18;
  z-index: 1;
}
#mobile-menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 7.5vw;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
}

#menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #1a1a18;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  margin-top: -78px;
}

#mobile-menu ul {
  padding-top: 20vh;
}
#mobile-menu li {
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 7vh 0px;
  font-weight: 100;
}
#mobile-menu li img {
  max-width: 12vw;
  margin-bottom: 2vh;
  display: inline-block;
}

#close-nav-menu {
  z-index: 2;
  position: absolute;
  top: 13px;
  right: 12px;
  font-size: 53px;
}

#menu {
  display: none;
}

#menu-container {
  width: 50%;
  color: #FFFFFF;
}

#search-bar {
  position: relative;
  top: -1px;
}

#menu a:hover {
  color: #FFFFFF;
}

#footer {
  text-align: center;
  background: black;
  color: #FFFFFF;
  padding: 60px 30px;
  border-top: 1px solid #373737;
}
#footer a {
  color: #FFFFFF;
}
#footer li {
  list-style-type: none;
}
#footer img {
  max-width: 150px;
  margin-bottom: 25px;
}
#footer #bottom-bar {
  font-size: 12.5px;
}

#swiper-featured .swiper-slide {
  color: white;
  text-align: center;
  border-radius: 5px;
}

#modal {
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 25vw 30px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
#modal h1 {
  font-size: 12.5vw;
  margin-bottom: 35px;
  color: #FCEE1F;
}
#modal p {
  margin-bottom: 35px;
  padding: 20px 20px;
  background: #8338ec;
  line-height: 24px;
  text-align: left;
  border-radius: 5px;
}
#modal #modal-close {
  z-index: 2;
  position: absolute;
  top: 13px;
  right: 12px;
  font-size: 53px;
  color: white;
}
#modal .project-mockup-image {
  width: 100%;
  margin-bottom: 60px;
}
#modal #end-divider {
  width: 10vw;
  height: 2px;
  background: rgba(255, 255, 255, 0.361);
  margin: 60px auto 47.5vw auto;
}

h1,
h2,
h3,
h4,
p {
  text-align: center;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

body {
  background: #1a1a18;
}

.arrow-down {
  background: none;
  border: none;
  display: block;
  margin: 0 auto;
  font-size: 45px;
  margin-bottom: -5px;
  color: #FFFFFF;
}

.no-scroll {
  overflow: hidden;
}

img {
  border-radius: 2px;
}

#logo {
  width: 50px;
}

.container-lg {
  padding: 60px 30px;
}

.button {
  display: inline-block;
}
.button.regular {
  font-size: 16px;
  background: #1a1a18;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.button.go-back {
  font-size: 16px;
  background: #1a1a18;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #FCEE1F;
  color: #FCEE1F;
}
.button svg {
  position: relative;
  top: 2px;
}

.bubble-container {
  position: relative;
}

.bubble {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -99;
}
.bubble img {
  position: absolute;
}

#bubble-1 {
  top: 0;
  left: 0;
}
#bubble-1 img {
  top: 27vw;
  right: -49vw;
}

#bubble-2 {
  top: 102.5vh;
  left: 0px;
}
#bubble-2 img {
  top: -15vw;
  left: -115vw;
}

#tagline {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 60px;
}

#main #hero {
  text-align: center;
  margin-bottom: 70px;
}
#main #hero #home-logo {
  width: 95%;
  margin-bottom: 35px;
}

#featured {
  margin-bottom: 120px;
  text-align: center;
}
#featured #featured-projects {
  padding-bottom: 35px;
}

.page-section h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 10vw;
  margin-bottom: 35px;
}
.page-section h3 {
  font-size: 7vw;
  line-height: 8.5vw;
  text-decoration: none;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#faculties {
  text-align: center;
}
#faculties .faculty-item {
  padding: 30px 0 15px 0;
}
#faculties .faculty-item img {
  max-width: 75px;
  margin-bottom: 15px;
}

#page-header {
  font-size: 25vw;
  line-height: 25vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 35px;
  font-weight: 900;
}

#faculty-icon-container {
  width: 100%;
  position: absolute;
  left: 0;
}
#faculty-icon-container #icon-header {
  width: 100%;
  max-width: 90vw;
  margin-bottom: 35px;
  position: relative;
  top: -16vw;
  transform: rotate(-10deg);
  left: -20vw;
  z-index: -99;
  opacity: 0.3;
}

#student-page {
  text-align: center;
}
#student-page h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 10vw;
  margin-bottom: 35px;
}
#student-page #student-name {
  margin-bottom: 30px;
  font-size: 14vw;
}
#student-page #student-details {
  margin-bottom: 30px;
  position: relative;
}
#student-page #student-headshot {
  width: 100%;
  margin-bottom: 15px;
}
#student-page #breadcrumbs {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  background: #FCEE1F;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  top: -20px;
  box-shadow: 3px 3px 0px 1px #8338ec;
}
#student-page #student-page-button {
  margin: 25px 0 30px 0;
}
#student-page #socials-container {
  margin-bottom: 85px;
}
#student-page #socials-container .social-icon {
  color: #FCEE1F;
  font-size: 8vw;
  margin-right: 10px;
}
#student-page #socials-container .social-tag {
  color: #FCEE1F;
  position: relative;
  top: -9px;
  border: 1px solid #FCEE1F;
  border-radius: 5px;
  padding: 6px;
}

.student-container {
  margin-bottom: 15px;
  text-align: center;
}
.student-container h4 {
  font-size: 4.5vw;
  position: relative;
  top: -22px;
  display: inline-block;
  margin: 0 auto;
  padding: 8px 12px;
  background: #8338ec;
  color: white;
  font-weight: 400;
  border-radius: 5px;
}
.student-container img {
  width: 80%;
}

.project-container .project-item {
  margin-bottom: 30px;
}
.project-container .project-image {
  width: 80%;
}
.project-container h4 {
  font-size: 4.5vw;
  position: relative;
  top: -22px;
  display: inline-block;
  margin: 0 auto;
  padding: 8px 12px;
  background: #8338ec;
  color: white;
  font-weight: 400;
  border-radius: 5px;
}

@media screen and (min-width: 780px) {
  .container-lg {
    padding: 30px;
  }
  .show-mobile-menu-button {
    display: none;
  }
  #topnav #logo {
    margin-top: 0px;
    margin-bottom: -7px;
  }
  #menu {
    display: block;
    width: 85%;
  }
  #menu li {
    display: inline-block;
  }
  #menu li a {
    color: #FFFFFF;
  }
  #menu-container {
    display: none;
  }
  #search-bar {
    border: none;
    padding: 5px;
  }
  #submit-search {
    background: none;
    border: none;
    color: #1a1a18;
    font-size: 18px;
  }
  #submit-search svg {
    position: relative;
    left: -23px;
    top: 4px;
  }
  #home #hero img {
    width: 75vw;
  }
}
/* Desktop queries */
@media screen and (min-width: 1280px) {
  #tagline {
    font-size: 45px;
  }
}