#footer {
    text-align: center;
    background: black;
    color: $white;
    padding: $largest-spacing $large-spacing;
    border-top: 1px solid #373737;

    a {
        color: $white;
    }

    li {
        list-style-type: none;
    }

    img {
        max-width: 150px;
        margin-bottom: $med-spacing;
    }

    #bottom-bar {
        font-size: $paragraph-small;
    }

}