#footer {
    text-align: center;
    background: black;
    padding: $largest-spacing $large-spacing $large-spacing $large-spacing;
    border-top: 1px solid $footer-grey-border;

    h5 {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #d9d9d9;
        text-align: center;
        ;
    }

    #footer-faculties {
        margin-bottom: $largest-spacing;
    }

    a,
    p {
        color: #c2c2c2;

        &:hover {
            cursor: pointer;
            color: white;
        }
    }


    li {
        list-style-type: none;
    }

    img {
        max-width: 150px;
        margin-bottom: $med-spacing;
    }

    #yoobee-logo {
        margin-bottom: $larger-spacing;
    }

    .grey-heading-divider {
        width: 50px;
        height: 1px;
        margin: $small-spacing auto $regular-spacing auto;
        background: $footer-grey-border;

    }

    #bottom-bar {
        font-size: $paragraph-small;
        border-top: 1px solid $footer-grey-border;
        padding-top: $regular-spacing;
        color: #828282;
        margin-top: 60px;
    }

}

@media screen and (min-width: 1000px) {
    #footer {
        text-align: left;
        padding: 60px 140px 30px 140px;

        img {
            max-width: 190px;
        }

        #footer-section-container {
            display: flex;

            .footer-section {
                width: 200px;

                &:first-of-type {
                    margin-right: 100px;
                }

                h5 {
                    text-align: left;
                    margin-top: 20px;
                }

                .grey-heading-divider {
                    margin-left: 0;
                }
            }
        }

        #bottom-bar {
            margin-top: 0px;
        }
    }
}