@media screen and (min-width: 530px) {

    // general

    .page-section h2 {
        font-size: 40px;
    }

    .page-section h3 {
        font-size: 35px;
        line-height: 8.5vw;
        text-decoration: none;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .bubble {
        height: 200vh;
    }

}