@media screen and (min-width: 530px) {

    // general

    .page-section h2 {
        font-size: 55px;
    }

    .page-section h3 {
        font-size: 35px;
        line-height: 8.5vw;
        margin-bottom: 30px;
    }


    .bubble {
        height: 160vh;
    }

    // faculty pages

    #page-header {
        font-size: 13vw;
        line-height: 11vw;
    }

}