// mixins

@mixin h2-styles {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: $larger-spacing;
    font-weight: $heavy;
    font-size: $header-large-vw;
}

@mixin h4-styles {
    font-size: $subheader-small-vw;
    position: relative;
    top: -22px;
    display: inline-block;
    margin: 0 auto;
    padding: 8px 12px;
    color: $white;
    font-weight: 400;
    border-radius: 5px;
    background: #8338ecb5;
    backdrop-filter: blur(12px);
}

@mixin button-styles {
    background: $black;
    font-weight: 500;
    padding: $small-spacing;
    border-radius: $small-radius;
}