// ---------general


h1,
h2,
h3,
h4,
p {
    text-align: center;
    color: $white;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

body {
    background: $body-bg;
}

.arrow-down {
    background: none;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: $icon-regular;
    margin-bottom: $fix-icon-margin;
    color: $white;
}

.no-scroll {
    overflow: hidden;
}

img {
    border-radius: 2px;
}

// ---------navbar

#logo {
    width: 50px;
}

// -----------containers

.container-lg {
    padding: $largest-spacing $large-spacing;
}

// -----------buttons

.button {
    display: inline-block;

    &.regular {
        @include button-styles;
        color: $white;
        border: 1px solid $white;
    }

    &.go-back {
        @include button-styles;
        border: 1px solid $yellow;
        color: $yellow;
    }

    svg {
        position: relative;
        top: 2px;
    }
}



// ---------home

//general
.bubble-container {
    position: relative;
}

.bubble {
    position: absolute;
    width: 100%;
    height: calc(100vh + 100vw);
    overflow: hidden;
    z-index: -99;

    img {
        position: absolute;
    }
}

#bubble-1 {
    top: 0;
    left: 0;

    img {
        top: 27vw;
        right: -49vw;
    }
}

#bubble-2 {
    top: 102.5vh;
    left: 0px;

    img {
        top: -15vw;
        left: -115vw;
    }
}


// hero

#tagline {
    font-size: $tagline-s;
    font-weight: $tagline-weight;
    text-align: center;
    margin-bottom: $largest-spacing;
}

.squiggle {
    display: none;
}

#main #hero {
    text-align: center;
    margin-bottom: $section-spacing;

    #home-logo {
        width: 95%;
        margin-bottom: $larger-spacing;
        max-width: 580px;
    }
}

// ---------featured section
#featured {
    margin-bottom: $largest-spacing;
    text-align: center;

    #student-spotlight {
        padding-bottom: $larger-spacing;
    }
}

// ---------general section
.page-section {

    h2 {
        @include h2-styles;
        margin-bottom: $larger-spacing;
    }

    h3 {
        font-size: $header-regular-vw;
        line-height: $header-med-vw;
        text-decoration: none;
        margin-bottom: 30px;
        font-weight: 700;
    }
}

#faculties {
    text-align: center;

    .faculty-item {

        padding: $regular-spacing 0;

        img {
            max-width: 75px;
            margin-bottom: $regular-spacing;
        }
    }
}

// -----faculty pages

// hero

#page-header {
    font-size: 25vw;
    line-height: 25vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 900;
}

#faculty-icon-container {
    width: 100%;
    position: absolute;
    left: 0;

    #icon-header {
        width: 100%;
        max-width: 90vw;
        margin-bottom: 35px;
        position: relative;
        top: -16vw;
        transform: rotate(-10deg);
        left: -20vw;
        z-index: -99;
        opacity: 0.6;
    }
}

// student page

#student-page {
    text-align: center;

    h2 {
        @include h2-styles;
        margin-bottom: $larger-spacing;
    }

    #student-name {
        margin-bottom: $large-spacing;
        font-size: $student-name-mobile;
    }

    #student-details {
        margin-bottom: $large-spacing;
        position: relative;
    }

    #student-headshot {
        width: 100%;
        margin-bottom: $med-spacing;
    }

    #breadcrumbs {
        text-align: center;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        display: inline-block;
        background: $yellow;
        padding: 5px 10px;
        border-radius: 5px;
        position: relative;
        top: -20px;
        box-shadow: 3px 3px 0px 1px $purple;
    }

    #student-page-button {
        margin: $med-spacing 0 $large-spacing 0;
    }

    #socials-container {
        margin-bottom: $large-section-spacing;

        .social-icon {
            color: $yellow;
            font-size: $icon-mobile-social;
            margin-right: 10px;
        }

        .social-tag {
            color: $yellow;
            position: relative;
            top: -9px;
            border: 1px solid $yellow;
            border-radius: 5px;
            padding: 6px;
        }
    }

    &.film-tv {
        p {
            margin-bottom: $large-spacing;
            line-height: 24px;
        }

        h4 {
            font-size: 24px;
            margin-bottom: $large-spacing;
        }
    }
}

.student-container {
    margin-bottom: $regular-spacing;
    text-align: center;

    h4 {
        @include h4-styles;

        &.film-student {
            width: 90%;
            position: static;
            box-sizing: border-box;
        }
    }

    img {
        width: 80%;
    }
}

.project-container {
    .project-item {
        margin-bottom: $large-spacing;
    }

    .project-image {
        width: 80%;
    }

    h4 {
        @include h4-styles;
    }
}