// mixins

@mixin h2-styles {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: $larger-spacing;
    font-weight: $heavy;
    font-size: $header-large-vw;
}

@mixin h4-styles {
    font-size: $subheader-small-vw;
    position: relative;
    top: -22px;
    display: inline-block;
    margin: 0 auto;
    padding: 8px 12px;
    background: $purple;
    // box-shadow: inset -4px -2px 20px 0px $pink;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}


// ---------general


h1,
h2,
h3,
h4,
p {
    text-align: center;
    color: $white;
}

a {
    text-decoration: none;
}

body {
    background: $body-bg;
}

.arrow-down {
    background: none;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: $icon-regular;
    margin-bottom: $fix-icon-margin;
    color: $white;
}

.no-scroll {
    overflow: hidden;
}

// ---------navbar

#logo {
    width: 50px;
}

// -----------containers

.container-lg {
    padding: $largest-spacing $large-spacing;
}

// -----------buttons

.button {
    display: inline-block;

    &.regular {
        color: $white;
        font-weight: 400;
        border: 1px solid $white;
        padding: $small-spacing;
        border-radius: $small-radius;
    }
}

// ---------home

//general
.bubble-container {
    position: relative;
}

.bubble {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -99;

    img {
        position: absolute;
    }
}

#bubble-1 {
    top: 0;
    left: 0;

    img {
        top: 27vw;
        right: -49vw;
    }
}

#bubble-2 {
    top: 102.5vh;
    left: 0px;

    img {
        top: -15vw;
        left: -115vw;
    }
}

// hero

#tagline {
    font-size: $tagline-s;
    font-weight: $tagline-weight;
    text-align: center;
    margin-bottom: $largest-spacing;
}

#main #hero {
    text-align: center;
    margin-bottom: $section-spacing;

    #home-logo {
        width: 95%;
        margin-bottom: $larger-spacing;
    }
}

// ---------featured section
#featured {
    margin-bottom: $max-spacing;
    text-align: center;

    #featured-projects {
        padding-bottom: $larger-spacing;
    }
}

// ---------general section
.page-section {

    h2 {
        @include h2-styles;
        margin-bottom: $larger-spacing;
    }

    h3 {
        font-size: $header-regular-vw;
        line-height: $header-med-vw;
        text-decoration: none;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

#faculties {
    text-align: center;

    .faculty-item {

        padding: $large-spacing 0 $regular-spacing 0;

        img {
            max-width: 75px;
            margin-bottom: $regular-spacing;
        }
    }
}

// -----faculty pages

// hero

#page-header {
    font-size: 25vw;
    line-height: 25vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 900;
}

#faculty-icon-container {
    width: 100%;
    position: absolute;
    left: 0;

    #icon-header {
        width: 100%;
        max-width: 90vw;
        margin-bottom: 35px;
        position: relative;
        top: -16vw;
        transform: rotate(-10deg);
        left: -20vw;
        z-index: -99;
        opacity: 0.3;
    }
}

// student page

#student-page {
    text-align: center;

    h2 {
        @include h2-styles;
        margin-bottom: $large-spacing;
    }

    #student-name {
        margin-bottom: $large-spacing;
        font-size: 14vw;
    }

    #student-details {
        margin-bottom: $large-spacing;
        position: relative;
    }

    #student-headshot {
        width: 100%;
        margin-bottom: $section-spacing;
    }

    #breadcrumbs {
        text-align: center;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        display: inline-block;
        background: $yellow;
        padding: 5px 10px;
        border-radius: 5px;
        position: relative;
        top: -20px;
        box-shadow: 3px 3px 0px 1px $purple;
    }
}

.student-container {
    margin-bottom: $regular-spacing;
    text-align: center;

    h4 {
        @include h4-styles;
    }

    img {
        width: 80%;
    }
}

.project-container {
    .project-item {
        margin-bottom: $large-spacing;
    }

    .project-image {
        width: 80%;
    }

    h4 {
        @include h4-styles;
    }
}