/* nav */
#topnav {
    // background: $black;
    color: $white;
    display: flex;
    padding: 20px;
}

#topnav #logo {
    width: 50%;
    font-weight: 600;
    font-size: 28px;
    margin-right: 30px;
    text-align: left;

    img {
        width: 30px;
        position: relative;
        top: 1px;
    }
}

#menu {
    width: 75%;
    padding-right: 0px;
}

#topnav {
    text-align: right;

    #menu {
        li {
            position: relative;
            top: 6px;
        }
    }
}

#topnav a,
#topnav li {
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    display: inline-block;
}

#button-container {
    width: 50%;
}

#menu-button,
#close-nav-menu {
    background: none;
    border: none;
}

#hamburger-icon,
#close-nav-menu {
    font-size: 33px;
    position: relative;
    top: 2px;
    right: 2px;
    border: none;
    color: $white;
}

// #close-nav-menu {
//     opacity: 0.5;
// }

#mobile-menu {
    width: 100%;
    background-color: $black;
    z-index: 1;

    a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 7.5vw;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
    }
}

// ---------mobile menu

#menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: $black;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    // reduce top margin to overlap the navbar
    margin-top: -78px;
}

#mobile-menu {
    ul {
        padding-top: 20vh;
    }

    li {
        text-decoration: none;
        display: block;
        text-align: center;
        margin: 7vh 0px;
        font-weight: 100;

        img {
            max-width: 12vw;
            margin-bottom: 2vh;
            display: inline-block;
        }
    }
}

#close-nav-menu {
    z-index: 2;
    position: absolute;
    top: 13px;
    right: 12px;
    font-size: 53px;
}

#menu {
    display: none;
}

#menu-container {
    width: 50%;
    color: $white;
}

#search-bar {
    position: relative;
    top: -1px;
}

// hovers

#topnav a:hover {}


#menu a:hover {
    color: $white;
}