#modal {
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 70%);
    padding: 25vw 30px;
    backdrop-filter: blur(25px);

    h1 {
        font-size: $header-largest-vw;
        margin-bottom: $larger-spacing;
        color: $yellow;
    }

    p {
        margin-bottom: 35px;
        padding: 20px 20px;
        // background: #5e5e5e63;
        background: $purple;
        line-height: 24px;
        text-align: left;
        border-radius: $small-radius;
    }

    #modal-close {
        z-index: 2;
        position: absolute;
        top: 13px;
        right: 12px;
        font-size: 53px;
        color: white;
    }

    .project-mockup-image {
        width: 100%;
        margin-bottom: $largest-spacing;
    }

    #end-divider {
        width: 10vw;
        height: 2px;
        background: rgba(255, 255, 255, 0.361);
        margin: $largest-spacing auto 47.5vw auto;
    }

}