// -----------colours

$black: #1a1a18;
$body-bg: #1a1a18;
$white: #FFFFFF;
$lightyellow: #fff1c9;
$yellow: #FCEE1F;
$orange: #fb5607;
$purple: #8338ec;
$pink: #ea2b7b;
$blue: #46C8F5;
$footer-grey-border: #373737;

// -----------spacing
$max-spacing: 120px;
$large-section-spacing: 85px;
$section-spacing: 70px;
$section-spacing: 70px;
$largest-spacing: 60px;
$larger-spacing: 35px;
$large-spacing: 30px;
$med-spacing: 25px;
$regular-spacing: 15px;
$small-spacing: 10px;

// -----------fonts

//headers
$header-largest-vw: 11.5vw;
$header-large-vw: 10vw;
$header-med-vw: 8.5vw;
$header-med: 40px;
$subheader-med: 30px;
$header-regular-vw: 7vw;
$subheader-small: 28px;
$subheader-small-vw: 4.5vw;

// student page
$student-name-mobile: 13vw;

// body
$paragraph-lg: 45px;
$paragraph-regular: 20px;
$paragraph-small: 12.5px;

// button
$button-regular: 16px;

// tagline
$tagline-s: 24px;
$tagline-weight: 100;

//icons
$icon-regular: 45px;
$icon-mobile-social: 8vw;
$fix-icon-margin: -5px;

// border-radius
$small-radius: 5px;

// font-weight
$heavy: 900;