// -----------colours

$black: #000000;
$white: #FFFFFF;
$lightyellow: #fff1c9;
$orange: #fb5607;
$purple: #8338ec;

// -----------spacing
$section-spacing: 70px;
$largest-spacing: 55px;
$larger-spacing: 35px;
$large-spacing: 30px;
$med-spacing: 25px;
$regular-spacing: 15px;
$small-spacing: 10px;

// -----------fonts

//headers
$header-large-vw: 15vw;
$header-med-vw: 8.5vw;
$header-med: 40px;
$subheader-med: 30px;
$subheader-small: 28px;

// body
$paragraph-lg: 45px;
$paragraph-regular: 20px;
$paragraph-small: 12.5px;

// tagline
$tagline-s: 20px;
$tagline-weight: 100;

//icons
$icon-regular: 45px;
$fix-icon-margin: -5px;